.movie_detail{
    color: antiquewhite;
}
.back_btn{
    margin: 20px;
}

.movie_detail_content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.movie_detail_content img{
    height: 450px;
    width: 300px;
    border-radius: 10px;
}

.info{
    padding: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.overview{
    font-size: 14px;
    font-weight: 600;
    color:rgb(255, 219, 17);
}

.overview span{
    color: antiquewhite;
}
.icons{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.info img{
    height: 25px;
    width: 22px;
     filter: brightness(0) invert(1);
     cursor: pointer;
}

.bookmark-icon {
  width: 28px;
  cursor: pointer;
  filter: brightness(0) invert(1);
  transition: 0.3s;
}

.bookmark-icon.active {
  filter: invert(48%) sepia(94%) saturate(1000%) hue-rotate(-10deg) brightness(1.2);
}





