.bookmark_card{
    display: flex;
    flex-direction: column;
    color: orange;
    align-items: center;
    justify-content: center;
    background: rgb(255, 241, 171);
    height: 250px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid rgb(186, 181, 181);
    gap: 20px;
}

.bookmark_card img{
    border: 2px solid black;
    height: 100vh;
    object-fit: cover;
    border-radius: 20px;
}

.bookmark_card p{
    z-index: 1;
    color: black;
    font-size: 20px;
    font-weight: 700;
}