.input{
    background-color: transparent;
    width: 80%;
    color: rgb(135, 133, 133);
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 8px#ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   

}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    
}

input:focus{
    outline: none;
}

#search_icon{
    color: rgba(255, 202, 9, 0.9);
}