
.footer {
  background: rgb(20, 20, 20);
  height: auto;
  width: 100vw;
  color: rgb(231, 210, 153);
  padding-top: 10px;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 219, 17, 0.2);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 0 20px;
}

.footer-left {
  max-width: 300px;
  text-align: center;
}

.footer-logo {
  width: 200px;
  height: 150px;
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 10px;
  filter: brightness(0) invert(1);
}

.footer-left h2 {
  font-size: 22px;
  font-weight: 700;
  color: rgb(255, 219, 17);
}

.footer-left h2 span {
  color: white;
}

.footer-left p {
  font-size: 14px;
  color: #aaa;
  margin-top: 8px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links h3,
.footer-social h3 {
  color: rgb(255, 219, 17);
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  gap: 20px;
}

.footer-links li {
  margin: 6px 0;
}

.footer-links a {
  text-decoration: none;
  color: #bbb;
  padding: 20px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: rgb(255, 219, 17);
}

.social-icons a {
  color: white;
  font-size: 22px;
  margin-right: 15px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: rgb(255, 219, 17);
  transform: scale(1.2);
}


.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 219, 17, 0.1);
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;
  color: #888;
}
